@import '@fortawesome/fontawesome-free/css/all.min.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.main-container {
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('./../img/fondo2.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 20px;
  
}

.logo {
  height: 80px;
}

.header h1 {
  font-size: 1.5em;
  margin: 0;
  color: #fff;
}

.main-container h2 {
  position: absolute;
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 20px;
  margin-top: 90px;
  
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: 120px;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.button {
  height: 8em;
  background: linear-gradient(45deg, #009, #6AC7C6);
  border: none;
  border-radius: 20px;
  padding: 20px 40px;
  color: white;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  font-weight: bolder;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: linear-gradient(45deg,  #049, #6AC7C6);
}

.classroom {
  width: 7%;
  z-index: 1;
  margin-left: 10px;
}

.estudiantes img {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 30%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.classroom img {
  width: 100%;
  border-radius: 10px;
}

.footer_home {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.footer-section p, .footer-section ul {
  margin: 5px 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-links a {
  margin: 0 10px;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #6AC7C6;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  text-align: center;
}