/* frontend/src/App.css */
.table-container {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

td {
  background-color: #fff;
}

td.empty {
  background-color: #f9f9f9;
}
